.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--primary-background);
}

.me-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.me-image-outline {
  padding: 4px;
  border-radius: 50%;
  background: var(--secondary-background);
}

.my-name {
  font-size: 30px;
  font-weight: var(--font-bold);
}

.navbar {
  display: flex;
  gap: 48px;
}