.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  list-style: none;
}

.heading {
  display: block;

  font-size: clamp(
    2rem,
    4.2vw + 1rem,
    4rem);

  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  width: fit-content;
  margin: 0 auto;
}