*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
}


:root {
  /* COLORS */
  --primary-background: hsl(210deg 15% 6%);
  --secondary-background: linear-gradient(180deg, rgba(67,133,149,1) 11%, rgba(27,84,126,1) 43%, rgba(5,9,45,1) 78%);
  --content-background: hsl(210deg 15% 8%);
  --portrait-border: hsl(0deg 1% 6% / 0.75);
  
  --shadow-color-hero: hsl(360deg 100% 100% / 0.5);
  --shadow-color-portrait: hsl(0deg 0% 10% / 0.5);
  --box-shadow-hero: 0px 0px 300px 0px var(--shadow-color-hero);
  --box-shadow-portrait: 5px 0px 30px 10px var(--shadow-color-portrait);
  --box-shadow-content: 0px 0px 20px 10px var(--shadow-color-portrait);
  
  --gradient-decoration-1: linear-gradient(to top, hsl(354deg 67% 56%), hsl(317deg 61% 33%));
  --gradient-decoration-2: linear-gradient(to bottom, hsl(354deg 67% 56%), hsl(317deg 61% 33%));
  --gradient-decoration-3: linear-gradient(to top, hsl(354deg 67% 56% / 0.75), hsl(317deg 61% 33% / 0.75));
  --gradient-decoration-4: linear-gradient(to bottom, hsl(354deg 67% 56% / 0.75), hsl(317deg 61% 33% / 0.25));

  --image-decoration-1: hsl(210deg 15% 6% / 0.75);

  --gradient-text: linear-gradient(180deg, hsl(245deg 79% 68%) 25%, hsl(286deg 100% 67%) 85%);

  /* TYPOGROPHY */
  --primary-font: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --paragraph-size: 1.5rem;
  --paragraph-size-about: 1.25rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;

  --font-color-primary: hsl(210deg 10% 90%);
  --font-color-secondary: hsl(210deg 14% 66%);

  /* SPACING */
  --primary-padding: 42px 7%;
  --section-spacing: 80px;

  /* GENERAL */
  --max-app-width: 1920px;
  --footer-border: hsl(210deg 10% 90% / 0.5);
}

html,
body {
  display: block;

  height: 100%;
  width: 100%;
  margin: 0 auto;

  max-width: var(--max-app-width);

  background-color: var(--primary-background);
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: var(--primary-font);
  color: var(--font-color-primary);
  letter-spacing: -1px;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: var(--font-semi-bold);
}

.styled-link {
  font-size: var(--paragraph-size);

  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

input, textarea, button {
  font: inherit;
}

@media (max-width: 1920px) {
  html, body {
    margin: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}