.banner {
  display: flex;
}

.banner-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  height: 100%;
}

.banner-text {
  font-size: clamp(
    1.5rem,
    4.2vw + 1rem,
    4.25rem
  );
  font-weight: var(font-bold);
  line-height: 78px;

  max-width: 90%;
}

.banner-text-gradient {
  font-size: clamp(
    2rem,
    4.2vw + 1rem,
    4.25rem
  );
  font-weight: var(font-bold);
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  font-style: italic;
}

.banner-content p {
  font-size: var(--paragraph-size);
  color: var(--font-color-secondary);

  width: 80%;
  margin: -10px 0;
}

.banner-self {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  height: 100%;
  margin: 66px 0;
}

.decoration-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.decoration-one {
  height: 300px;
  width: clamp(325px, max(350px, 80%), 570px);

  border-radius: 150px;

  background: var(--gradient-decoration-1);

  box-shadow: var(--box-shadow-hero);
}

.decoration-two {
  height: 300px;
  width: clamp(325px, max(350px, 80%), 570px);

  border-radius: 150px;
  background: var(--gradient-decoration-2);

  box-shadow: var(--box-shadow-hero);
}

.laptop-image {
  position: absolute;
  width: min(550px, 100%);
  height: min(550px, 100%);
}

.icon-wrapper {
  position: absolute;
  top: 362.5px;
  bottom: 915px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  width: 54px;
  height: 54px;

  border-radius: 50%;
  background: var(--gradient-decoration-1);
  transform: translateX(calc(-300% + -15px)) rotate(0.08turn) skew(-35deg);

  z-index: 10;
}

.ts-image {
  width: 50px;
  height: 50px;
}

.laptop-name {
  position: absolute;
  top: 120px;
  bottom: 915px;

  font-size: 17px;

  border-radius: 50%;
  transform: translateX(calc(35% + 90px)) rotate(0.08turn) skew(28deg);

  z-index: 10;
}

@media (max-width: 1280px) {
  .banner {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .banner-text {
    line-height: 1.5;
  }

  .laptop-image {
    width: 450px;
    height: 450px;
  }

  .icon-wrapper {
    position: absolute;
    top: 352.5px;
    bottom: 915px;

    width: 44px;
    height: 44px;
    transform: translateX(calc(-300% + -15px)) rotate(0.08turn) skew(-35deg);
  }

  .ts-image {
    width: 40px;
    height: 40px;
  }

  .laptop-name {
    position: absolute;
    top: 170px;
    bottom: 915px;
  
    font-size: 12px;
  
    transform: translateX(calc(42% + 90px)) rotate(0.08turn) skew(28deg);
  
    z-index: 10;
  }
}

@media (max-width: 550px) {
  .laptop-image {
    width: 350px;
    height: 350px;
  }

  .icon-wrapper {
    position: absolute;
    top: 335px;
    bottom: 925px;

    width: 36px;
    height: 36px;
    transform: translateX(calc(-300% + -12px)) rotate(0.08turn) skew(-35deg);
  }

  .ts-image {
    width: 32px;
    height: 32px;
  }

  .laptop-name {
    position: absolute;
    top: 205px;
    bottom: 915px;
  
    font-size: 9px;
  
    transform: translateX(calc(42% + 75px)) rotate(0.08turn) skew(28deg);
  
    z-index: 10;
  }

  .banner-text {
    max-width: 95%;
  }

  .banner-content p {
    width: 90%;
  }
}